.digital {
  background-image: url("../images/shape-2.png");
  background: $blueViolet;
  color: $white;

  .nav-contact {
    display: flex;
    justify-content: space-between;
  }

  .text-wrap {
    max-width: 49%;
    width: 100%;
    display: inline-block;

    .mini-header {
      margin-bottom: 40px;
    }

    .header {
      margin-bottom: 20px;
    }

    li {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

  .slider-wrap {
    position: relative;
    max-width: 50%;
    display: inline-block;
    width: 100%;

    .mac {
      .mac-slider {
        width: 402px;
        position: absolute;
        top: 24px;
        left: 104px;
      }
    }

    .iphone {
      position: absolute;
      top: 120px;
      right: 100px;

      .iphone-slider {
        width: 103px;
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }

  .section-footer {
    text-align: center;
    margin-bottom: 30px;

    .btn {
      margin-right: 0;
    }

    p {
      font-size: 10px;
      font-weight: 700;
      margin-top: 30px;
    }
  }
}
