.finesse {
  background-image: url("../images/layer-27.png");
  background-size: cover;
  background-color: $cloudBurst;
  color: $white;

  .nav-contact {
    display: flex;
    justify-content: space-between;
  }

  .header {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;

    @include mq(from768) {
      font-size: 50px;
    }
  }

  .text {
    text-align: center;
    padding-bottom: 40px;
  }

  .buttons {
    text-align: center;
  }

  .btn-header {


  }

  .section-footer {
    text-align: center;
    margin-bottom: 30px;

    .btn {
      margin-right: 0;
    }


    p {
      font-size: 10px;
      font-weight: 700;
      margin-top: 30px;
    }
  }
}
