.training {
  background-image: url("../images/layer-15.png");
  background-size: cover;
  background-color: $shark;
  color: $white;

  .nav-contact {
    display: flex;
    justify-content: space-between;
  }

  .mini-header {
    text-align: center;
  }

  .header {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 55px;
    text-align: center;
    @include mq(from768) {
      
    }

    .column {
      width: 290px;
      height: 377px;
      background-color: transparentize($shark, 0.2);
      color: $white;

      img {
        color: $training;
        font-size: 40px;
        padding: 45px 0 35px;
      }

      .column-header {
        font-size: 18px;
        font-weight: 400;
      }

      .text {
        font-size: 14px;
        font-weight: 400;
        padding: 24px 43px 113px;
      }
    }
  }

  .section-footer {
    text-align: center;
    margin-bottom: 30px;

    .btn {
      margin-right: 0;
    }

    p {
      font-size: 10px;
      font-weight: 700;
      margin-top: 30px;
    }
  }
}
