@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,900');

$white: #fff;
$black: #000;
$training: #38BC7E;
$digital: #743CD4;
$liveEvents: #277CE9;
$shark: #343840;
$cloudBurst: #323949;
$blueViolet: #7B35D9;
$aliceBlue: #F2F6FF;
$azure: #2A79EF;
$azureLight: #3382F7;
$blueZodiac: #619BF2;
