.input-group {
  margin-bottom: 60px;
  color: $white;

  label {
    background: $azure;
  }

  input {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 9px;
    border-bottom: 1px solid $blueZodiac;
    background: $azure;

    &::placeholder {
      color: $white;
    }

    &:focus {
      background-color: $azure;
      outline: none;
    }
  }

  textarea {
    width: 404px;
    height: 188px;
    resize: none;
    border: 1px solid $blueZodiac;
    background: $azureLight;
    color: $white;
    padding: 20px;
  }
}
